* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
    font-size: 46px;
    padding: 20px;
}

body {
    background-color: #083b4c;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #1389b2;
}

.fizz-active {
    background-color: #0bd6a1;
}

.buzz-active {
    background-color: #ffd166;
}

.fizzBuzz-active {
    background-color: #f0466f;
}